[Unit]
Description={{item.Unit_Description|default(item.name+' Service')}}

{% if item.Unit_Documentation is defined %}
Documentation={{ item.Unit_Documentation }}
{% endif -%}

{% if item.Unit_Requires is defined %}
{% if item.Unit_Requires is string %}
Requires={{ item.Unit_Requires }}
{% else %}
Requires={{ item.Unit_Requires | join(",") }}
{% endif %}
{% endif -%}

{% if item.Unit_Wants is defined %}
{% if item.Unit_Wants is string %}
Wants={{ item.Unit_Wants }}
{% else %}
Wants={{ item.Unit_Wants | join(",") }}
{% endif %}
{% endif -%}

{% if item.Unit_ConditionPathExists is defined %}
{% if item.Unit_ConditionPathExists is string %}
ConditionPathExists={{ item.Unit_ConditionPathExists }}
{% endif -%}
{% endif -%}

{% if item.Unit_Before is defined %}
{% if item.Unit_Before is string %}
Before={{ item.Unit_Before }}
{% else %}
Before={{ item.Unit_Before | join(",") }}
{% endif %}
{% endif -%}

{% if item.Unit_After is defined %}
{% if item.Unit_After is string %}
After={{ item.Unit_After }}
{% else %}
After={{ item.Unit_After | join(",") }}
{% endif %}
{% endif -%}

[Service]
ExecStart={{ item.Service_ExecStart }}
EnvironmentFile=-{{ systemd_service_default_dir }}/{{ item.name }}
Type={{ item.Service_Type|default('simple') }}

{% if item.Service_User is defined %}
User={{ item.Service_User }}
{% endif -%}
{% if item.Service_Group is defined %}
Group={{ item.Service_Group }}
{% endif -%}
{% if item.Service_WorkingDirectory is defined %}
WorkingDirectory={{ item.Service_WorkingDirectory }}
{% endif -%}

{% if item.ExecReload is defined %}
ExecReload={{ item.ExecReload }}
{% endif -%}

{% if item.Service_ExecStop is defined %}
ExecStop={{ item.Service_ExecStop }}
{% endif -%}
{% if item.Service_KillMode is defined %}
KillMode={{ item.Service_KillMode }}
{% endif -%}

{% if item.Service_ExecStartPre is defined %}
{% if item.Service_ExecStartPre is string %}
ExecStartPre={{ item.Service_ExecStartPre }}
{% elif item.Service_ExecStartPre is iterable %}
{% for i in item.Service_ExecStartPre %}
ExecStartPre={{ i }}
{% endfor %}
{% endif %}
{% endif -%}

{% if item.Service_ExecStartPost is defined -%}
{% if item.Service_ExecStartPost is string -%}
ExecStartPost={{ item.Service_ExecStartPost }}
{% elif item.Service_ExecStartPost is iterable -%}
{% for i in item.Service_ExecStartPost -%}
ExecStartPost={{ i }}
{% endfor %}
{% endif %}
{% endif -%}

{% if item.Service_ExecStopPost is defined %}
ExecStopPost={{ item.Service_ExecStopPost }}
{% endif -%}

{% if item.Service_PIDFile is defined %}
PIDFile={{ item.Service_PIDFile }}
{% endif %}
{% if item.Service_BusName is defined %}
BusName={{ item.Service_BusName }}
{% endif %}
Restart={{ item.Service_Restart|default('no') }}
{% if item.Service_RestartSec is defined %}
RestartSec={{ item.Service_RestartSec }}
{% endif %}
{% if item.Service_PrivateTmp is defined %}
PrivateTmp={{ item.Service_PrivateTmp }}
{% endif -%}

{% if item.Service_LimitNOFILE is defined %}
LimitNOFILE={{ item.Service_LimitNOFILE }}
{% endif -%}
TimeoutStartSec={{ item.Service_TimeoutStartSec|default('90s') }}

[Install]
WantedBy={{ item.Install_WantedBy|default('multi-user.target') }}

{% if item.Install_RequiredBy is defined %}
RequiredBy={{ item.Install_RequiredBy }}
{% endif -%}

{% if item.Install_Also is defined %}
Also={{ item.Install_Also }}
{% endif -%}

{% if item.Install_Alias is defined %}
Alias={{ item.Install_Alias }}
{% endif %}
